/*
FONT FAMILIES
ITCBookmanW01-BoldItali
ITC Bookman W01 Medium
*/
@mixin bmBoldItalic{
	font-family: 'ITCBookmanW03-MediumIta';
	//font-family: 'ITCBookmanW01-BoldItali';
}
@mixin bmMedium{
	font-family: 'ITC Bookman W01 Light';
}
$gold : #f9de82;
$yellow: #fecd21;
$mobilebreakpoint-val:640px;
$mobilebreakpoint: "only screen and (max-width : " + $mobilebreakpoint-val +")";
$tabletonly: "only screen and (max-width: 900px) and (min-width: 641px)";
html,
body{
	margin: 0;
	body: 0;
}
html{
	width: 100%;
	height: 100%;
}
body{
	background: transparent url(../images/bg.jpg) no-repeat left top fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
}
span.pixel{
	visibility: hidden;
	@media #{$mobilebreakpoint}{
		visibility: visible;
	}
}
#logo,
.logo{
	width: 33%;
	max-width: 375px;
	position: absolute;
	top: 160px;
	top: 22%;
	left: 2%;
	z-index: 10;
	> img{
		width: 100%;
		position: relative;
		z-index: 10;
	}
	.dice{
		> img{
			position:absolute;
			display: block;
			z-index: 5;
			-webkit-transorm: scale(0) rotate(-25deg);
			-moz-transform: scale(0) rotate(-25deg);
			-ms-transform: scale(0) rotate(-25deg);
			transform: scale(0) rotate(-25deg);
			width: 35%;

		}
		.die1{
			left: 6%;
		    top: -9%; 
		}
		.die2{
			left: 69%;
		    top: -14%; 
		    z-index: 5;
		}
	}
	@media #{$mobilebreakpoint}{
		position: relative;
		width: auto;
		max-width: 320px;
		top: auto;
		left: auto;
		margin: 0 auto;
		margin-top: 50px !important;
	}
}

.scaling-svg-container{
	width: 45%;
	overflow: visible;
	position: absolute;
	left: 30%;
	top: 80px;
	height: auto;
	visibility: hidden;
	//z-index: 20;
	.scaling-svg{
		overflow:visible;
		position:relative;
	}
	#svgMap{
		width: 100%;
		height: auto;
	}
	@media #{$mobilebreakpoint}{
		position: relative;
		width: 90%;
		left: auto;
		top: auto;
		margin: 0 auto 0 -20px;
		#river{
			//position:relative;
		}
	}
}
.container{
	width: 100%;
	max-width: 1330px;
	min-height: 637px;
	//margin: 0 0 0 auto;

	height: 100%;
	padding: 0;
	@media (min-width: 992px){
		width: 100%;
	}
	overflow: hidden;
	position: relative;
	@media #{$mobilebreakpoint}{
		overflow: hidden;
		overflow-x: hidden;
		height: auto !important;
		//position: static;
	}
}
.stateOverlay{
	position:absolute;
	left:-1000px;
	top:-1000px;
	opacity: 0;
	height:auto;
	z-index: 21
}
.state{
	path{
		opacity: 0.75;
		&.letter{
			opacity:1;
		}
	}
	position: absolute;
	cursor: pointer;
}
.pin{
	//width: 25px;
	width: 2.0%;
	max-width: 42px;
	//height: 67px;
	//background: transparent url(/images/pin.png) no-repeat left top;
	position: absolute;
	left: -1000px;
	top: -1000px;
	overflow: hidden;
	cursor: pointer;
	z-index: 101;
	&.red{
		left:20%;
		top: 20%;
		width: 5%;
		z-index: 200;
		overflow:hidden;
		img{
			position:relative;
			width: 200%;
			left:0;
			top:0;
		}
		
	}
	img{
		width: 200%;
		height: auto;
		left:0;
		position:relative;
	}
	&:hover,
	&.active{
		img{
			left:-100%;
		}
	}
	@media #{$mobilebreakpoint}{
		width: 5%;
	}
}
#details{
	position:absolute;
	top: 15%;
	//right: 3%;
	right: -100%;
	width: 313px;
	//max-width: 25%;
	min-width: 260px;
	z-index: 21;
	.panel{
		position:absolute;
		top: 0;
		left: 0;
		margin: 0;
		background: none;
		border: none;
		border-radius:0;
		box-shadow:none;
		width: 100%;
		display: block;
		visibility: hidden;
		font-size: 14px;
		//-webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
    	//filter:         drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
		.backToMap{
			background: #146595 url(/images/left-arrow.png) no-repeat 14px center;
			line-height: 28px;
			padding-left: 34px;
			margin-left: 17px;
			font-size: 0.857em;
			color: #fecd21;
			width: 137px;
			height: 26px;
			border-radius: 4px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			cursor: pointer;
			//box-shadow: 0 -3px 10px 0 rgba(0,0,0,0.35);
			position: relative;
			z-index: 20;
			@include bmMedium;
		}
		.content{
			background: #9f4c2e;
			border-radius: 4px;
			padding: 25px 30px;
			width: 100%;
			color: #ffffff;
			line-height: 1;
			//box-shadow: 0 0 10px 0 rgba(0,0,0,0.35);
			position: relative;
			z-index: 10;
			.city{
				font-size: 1.286em;
				border-bottom: 1px solid #a46341;
				padding-bottom: 18px;
				margin-bottom: 15px;
				text-transform: uppercase;
				@include bmBoldItalic;
			}
			.address{
				border-bottom: 1px solid #a46341;
				padding-bottom: 10px;
				margin-bottom: 15px;
				@include bmMedium;
				font-size: 1em;
			}
			p{
				padding: 0;
				margin: 0 0 8px;
			}
			.media_share{
				>div{
					display: inline-block;
					margin-right: 8px;
					cursor: pointer;
					overflow: hidden;
					position: relative;
					&:hover img{
						left: -100%;
					}
				}
				.video{
					height: 25px;
					width: 25px;
				}
				.photo{
					height: 23px;
					width: 23px;
				}
				.link{
					height: 24px;
					width: 24px;
				}
				.fb{
					margin-left: 30px;
					height: 24px;
					width: 12px;
				}
				.twttr{
					height: 22px;
					width: 31px;
				}
				img{
					position: relative;
					left: 0;
					top: 0;
					width: 200%;
				}
			}
		}
		.thumb{
			width: 90%;
			margin: 0 auto;
			text-align: center;
			cursor: pointer;
			//box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
			>img{
				width: 100%;
			}
		}
		.pointer{
			width: 19px;
			height: 40px;
			background: transparent url(/images/left-pointer.png) no-repeat left top;
			position: absolute;
			left: -19px;
			top: 113px;
			z-index: 15;

		}
	}
	@media #{$tabletonly}{
		width: 200px;
		min-width: auto;
		max-width: none;
		.panel{
			font-size: 12px;
			.content{
				padding: 20px 10px;
				.media_share{
					>div{
						width: 21px;
						height: auto;
						margin-right: 4px;
						&.fb{
							
							margin-left: 15px;
						}

						img{
							width: 200%;
						}
					}
					.video{
					height: 21px;
					width: 21px;
					}
					.photo{
						height: 21px;
						width: 21px;
					}
					.link{
						height: 21px;
						width: 21px;
					}
					.fb{
						margin-left: 30px;
						height: 21px;
						width: 10px;
					}
					.twttr{
						height: 19px;
						width: 27px;
					}
				}
			}
		}
	}
	@media #{$mobilebreakpoint}{
		position:relative;
		top: auto;
		right: auto !important;
		margin: 0 auto;
		max-width: none;
		.panel{
			visibility: visible !important;
			display: none;
			position: relative;
			top: auto;
			left: auto;
			margin-bottom: 30px;
			.content{
				box-sizing: border-box;
			}
			.pointer{
				display: none;
			}
		}
	}
}
#river{
	position: absolute;
	top: -11%;
	left: 28.5%;
	z-index:100;
	width: 46.6%;
	height: auto;
	pointer-events:none;
	@media #{$mobilebreakpoint}{
		position:absolute;
		top: auto;
		left: auto;
		width: auto;
		height: auto;
	}
}
#riverPath{
	position:absolute;
	display: none;
	stroke: #fbfaf8;
    stroke-width: 4px;
    fill: none;
    fill-rule: evenodd;
}
#thisFall{
	@include bmBoldItalic;
	color: #ffffff;
	text-align: left;
	font-size: 18px;
	line-height: 1.2;
	margin-top: 40px;
	margin-left: 5%;
	position: relative;
	width: auto;
	display: inline-block;
	a{
		font-size: 14px;
		color: $yellow;
		
	}
	img{
		position:absolute;
		right: -34px;
		top: -2px;
	}
	@media #{$mobilebreakpoint}{
		margin-top: 10px; 
		margin-right: 50px;
	}
}
#feelingLucky{
	position: absolute;
	bottom: 4%;
	left: 3%;
	@include bmBoldItalic;
	color: $yellow;
	font-size: 22px;
	max-width: 600px;
	line-height: .95;
	z-index: 20;
	.col-xs-2{
		padding: 0;
		text-align: center;
	}
	.col-xs-10{
		//padding-right: 20px;
	}
	span{
		@include bmMedium;
		font-size: 14px;
		color: #ffffff;
		line-height: 0;
		max-width: 300px;
	}
	img{
		//float: left;
		//padding-right: 20px;
	}
	@media #{$mobilebreakpoint}{
		position:relative;
		bottom: auto;
		left: auto;
		width: 90%;
		margin: 0 auto;
		font-size: 18px;
		span{
			font-size: 14px;
		}
		img,
		div{
			display: inline-block;
		}
		img{
			//width: 15%;
			max-width: 65px;
			padding: 0;
		}
		div{
			//width: 85%;
			//padding-left: 10px;
			box-sizing: border-box;
		}
		
	}
}
.closeMap{
	width: 100%;
	height: 100%;
	position: absolute;
	background: transparent;
	top: 0;
	left: 0;
	z-index: 15;
	display: none;
	@media #{$mobilebreakpoint}{
		display: none !important;
	}
}
//lightbox styles
.fancybox-lock .fancybox-overlay{
	overflow: hidden;
	overflow-y: hidden;
}
.fancybox-overlay{
	background: rgba(0,0,0,0.7);
	.logo{
		z-index: 10000;
		top: 4% !important;
		left: 0 !important;
		width: 160px !important;
		.dice {

			> img{
				transform: none;
			}
			.die1{
				top: -15px;
			}
			.die2{
				top: -20px;
			}
		}
		@media #{$mobilebreakpoint}{
			display: none !important;
		}
	}
}
@media #{$mobilebreakpoint}{
.fancybox-type-iframe{
	.fancybox-inner{
		height: auto !important;
	}
}
}
.fancybox-close{
	background: none;
	top: -30px;
	&:before{
		content:"X";
		color: $gold;
		@include bmMedium;
		font-size: 24px;
		background: none;
	}
}
.fancybox-skin{
	border-radius: 0;
}
.fancybox-nav{
	width: auto;
	height: auto;
	top: 50%;
	margin-top: -25px;
	span{
		background: transparent url(/images/prev-next.png) no-repeat left top;
		width: 55px;
		height: 55px;
		visibility: visible;
	}
	&.fancybox-prev{
		left: -80px;
	}	
	&.fancybox-next{
		right: -80px;
		span{
			background-position: right top;
		}
	}
	@media #{$mobilebreakpoint}{
		margin-top: 0px;
		span{
			width: 27px;
			height: 27px;
		}
		&.fancybox-prev {
			left: -55px;
			span{
				background-position: left bottom;
			}
		}
		&.fancybox-next {
			right: -55px;
			span{
				background-position: right bottom;
			}
		}
	}
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.comments-top{
	background: transparent url(/images/comments-top.png) repeat-x left top;
	height: 29px;
	width: 100%;
	position: relative;
	.comments-arrow{
		position: absolute;
		left: 151.5px;
		top: -24px;
		cursor: pointer;
	}
	@media #{$mobilebreakpoint}{
		background-position-x: -60px;
		margin-top: 25px;
		.comments-arrow{
			left: 91.5px;
		}
	}
}
.fb-comments-container{
	background: #e3e3e3;
}
.fb-comments {
    width: 100%;
    background: #e3e3e3;
    display: block;
}
.fb-comments > span, .fb-comments iframe {
    width: 100% !important;
}
.fb-comments > span, .fb-comments iframe {
    width: 100% !important;
}

.footer{
	height: 55px;
	line-height: 55px;
	background: #fecd21;
	@include bmMedium;
	font-size: 12px; 
	color: #ffffff;
	.right{
		text-align: right;
	}

	img{
		max-width: 100%;
	}
	@media #{$mobilebreakpoint}{
		font-size: 10px;
		>div{
			padding: 0 5px;
		}
	}
}